<ng-container *ngIf="isFullScreenPage; else appShell">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #appShell>
<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [opened]="authService.isLoggedIn()" class="sidenav">
    <ng-container *ngIf="authService.isLoggedIn()">
      <div class="sidenav-header">
        <mat-icon class="logo-icon">build</mat-icon>
        <span class="logo-text">TSMS</span>
      </div>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navItems"
           [routerLink]="item.path"
           routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
          <span matListItemTitle>{{item.label}}</span>
        </a>
      </mat-nav-list>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="authService.isLoggedIn()">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Total Solution Management System</span>
      <span class="toolbar-spacer"></span>
      <span class="user-info">{{authService.getUserName()}} ({{authService.getRole()}})</span>
      <button mat-icon-button matTooltip="Logout" (click)="confirmLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div [class]="authService.isLoggedIn() ? 'content' : ''">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</ng-template>
